$list-opacity: 0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1;

@each $value in $list-opacity {
  @if $value < 1 and $value>0 {
    .opacity_0_#{$value * 10} {
      opacity: #{$value};
    }
  }

  @else {
    .opacity_#{$value} {
      opacity: #{$value};
    }
  }
}