
.visibility_collapse {
  visibility: collapse;
}
.visibility_visible {
  visibility: visible !important;
}
.visibility_hidden {
  visibility: hidden;
}
.visibility_initial {
  visibility: initial;
}
.visibility_inherit {
  visibility: inherit;
}
.visibility_unset {
  visibility: unset;
}
.visibility_revert {
  visibility: revert;
}
