// theme
$primary-theme-color: #3a64f4;
$primary-theme-hover-color: #0e2955;
$highlight-theme-color: #e06f14;

// background
$primary-background-color: #ffffff;
$background_gray_smoke: #e9e9e9;

// text color
$primary-text-color: #333333;
$primary-heading-text-color: #121212;
$secondary-heading-text-color: #323232;
$primary-hover-text-color: #a6a6a6;

$red: #cc212c;
$yellow: #f2c009;
$gray: #d5d5d5;
$orange: #ffa500;
$white-smoke: #f0f3f6;

//border color:
$primary-border-color: #adadad;
$secondary-border-color: #e2e2e2;
$third-border-color: #e5e5e5;
$fourth-border-color: rgb(221, 221, 221);

$primary-font-size: 14px;
